<!-- Modal -->
<div id="addEditInventoryPopup" class="modal fade" role="dialog" #addEditInventory>
    <div class="modal-dialog"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{headerText}}</h4>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorMsg !== ''">
          {{errorMsg}}
        </div>
        <div class="modal-body">
          <form class="form-horizontal" #invform="ngForm">
            <div class="form-group">
              <div class="col-md-12">
                <div class="col-md-6" style="padding: 3px;">
                  <label class="control-label col-sm-7" for="invCode">Inventory Code:</label>
                  <div class="col-sm-5">
                      <input type="text" #invCode="ngModel" required name="invCode" id="invCode" [(ngModel)]="inventoryDTO.inventoryCode" class="form-control" [disabled]="!isAdd">
                  </div>
                  <div [hidden]="invCode.valid || invCode.pristine"
                      class="my-alert alert-danger col-md-offset-1 col-md-10">
                      Inventory Code is required
                  </div>
                </div>              
                <div class="col-md-6" style="padding: 3px;">
                  <label class="control-label col-sm-7" for="qty">Quantity:</label>
                  <div class="col-sm-5">
                      <input type="text" #qty="ngModel" required name="qty" id="qty" [(ngModel)]="inventoryDTO.inventoryQty" class="form-control">
                  </div>
                  <div [hidden]="qty.valid || qty.pristine"
                      class="my-alert alert-danger col-md-offset-1 col-md-10">
                      Quantity is required
                  </div>
                </div>
              </div>
              <div class="col-md-12"> 
                <div class="col-md-6" style="padding: 3px;">
                  <label class="control-label col-sm-7" for="invName">Inventory Name:</label>
                  <div class="col-sm-5">
                      <input type="text" #invName="ngModel" required name="invName" id="invName" [(ngModel)]="inventoryDTO.inventoryName" class="form-control" [disabled]="!isAdd">
                  </div>
                  <div [hidden]="invName.valid || invName.pristine"
                      class="my-alert alert-danger col-md-offset-1 col-md-10">
                      Inventory name is required
                  </div>
                </div>
                <div class="col-md-6" style="padding: 3px;">
                  <label class="control-label col-sm-7" for="unitPrice">Unit Price(Rs.):</label>
                  <div class="col-sm-5">
                      <input type="text" #unitPrice="ngModel" required name="unitPrice" id="unitPrice" [(ngModel)]="inventoryDTO.inventoryUnitPrice" class="form-control">
                  </div>
                  <div [hidden]="unitPrice.valid || unitPrice.pristine"
                      class="my-alert alert-danger col-md-offset-1 col-md-10">
                      Unit price is required
                  </div>
                </div>
              </div>
            </div>           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">Cancel</button>
          <button type="button" [disabled]="invform.invalid" class="btn btn-primary" (click)="saveInventory()">{{getButtonText()}}</button>
        </div>
      </div>
    </div>
</div>
